<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="NLog.xsd"
      autoReload="true">
  <variable name="basePath" value="C:\logs\LoggerModule" />
  <variable name="msgFormat" value="[${date:format=dd/MM/yyyy HH\:mm\:ss.ffff}] ${level} - ${message}${onexception:${newline}${exception:format=ToString}${newline}${stacktrace:topFrames=10}}" />
  <targets>
    <target encoding="utf-8" name="eventLogError" xsi:type="File" fileName = "${basePath}/errors.log" layout="${msgFormat}" />
    <target encoding="utf-8" name="eventLogInfo" xsi:type="File" fileName = "${basePath}/info.log" layout="${msgFormat}" />
  </targets>
  <rules>
    <logger name="default" level="Error" writeTo="eventLogError" />
    <logger name="default" level="Info" writeTo="eventLogInfo" />
  </rules>
</nlog>